<div>
    <a href="/">
        Home
    </a>
</div>
<div>
    <h1>Forgot Password?</h1>
    {{#if notLoggedIn}}
    <p>If you don't remember your password or cannot access your account, please enter your email address and click 'SUBMIT' so you can receive an email to change your password.</p>
    <form id="forgotPassword">
        <label>Email</label>
        <input name="email" type="email" required>
        <button type="submit">SUBMIT</button> 
    </form>
    <p>If you don't have an account, you can register now! Just click on the button below!</p>
    <a href="/register">
        <button>Register Now!</button>
    </a>

    {{else}}
    <p>You are already logged-in! Please log out if you want to access with another account.</p>
    <p id="loggedemail">{{email}}</p>
    <button type="submit" id="logoutbutton" onclick="logoutFunction()">Log Out</button>
    {{/if}}
</div>
<script src="./js/forgotpassword.js"></script>
<script src="./js/logout.js"></script>
