
<div>
    <h1>MY PROFILE</h1>
    {{#if notLoggedIn}}
    <div>
        <p>If you don't have an account, you can <a href="/register">REGISTER NOW!</a></p>
        <p>If you already have an account, you can <a href="/login">LOGIN</a>.</p>
    </div>
    {{else}}
    <p>Welcome {{name}}!</p>
    <p>Below you can find all your information:</p>
    <p>Email:</p><p id="loggedemail">{{email}}</p>
    <p>Age: {{age}}</p>
    
    <button type="submit" id="logoutbutton"  onclick="logoutFunction()">Log Out</button>
    {{/if}}
</div>

<script src="./js/logout.js"></script>
