<div>
    <a href="/profile">
        My Profile
    </a>
</div>
<div>
    <h1>Register</h1>
    {{#if notLoggedIn}}
    <form id="registrationForm">
        <label>First Name</label>
        <input name="first_name" required>
        <label>Last Name</label>
        <input name="last_name" required>
        <br/>
        <label>Age</label>
        <input name="age" type="number" min="0" max="150" step="1" required>
        <br/>
        <label>Email</label>
        <input name="email" type="email" required>
        <br/>
        <label>Password</label>
        <input name="password" type="password" required>
        <button type="submit">SUBMIT</button>
    </form>
    <div>
        <a href="/api/sessions/github">
        <button>Authenticate with GitHub</button>
    </a>
    {{else}}
    <p>You are already logged-in! Please log out if you want to access with another account or register a new account.</p>
    <p id="loggedemail">{{email}}</p>
    <button type="submit" id="logoutbutton"  onclick="logoutFunction()">Log Out</button>
    {{/if}}
</div>
<script src="./js/register.js"></script>
<script src="./js/logout.js"></script>
