<div>
    <a href="/profile">
        My Profile
    </a>
</div>
<div>
    <h1>Register</h1>
    <form id="registrationForm">
        <label>First Name</label>
        <input name="first_name" required>
        <label>Last Name</label>
        <input name="last_name" required>
        <br/>
        <label>Age</label>
        <input name="age" type="number" min="0" max="150" step="1" required>
        <br/>
        <label>Email</label>
        <input name="email" type="email" required>
        <br/>
        <label>Password</label>
        <input name="password" type="password" required>
        <button type="submit">SUBMIT</button>
    </form>
</div>
<script src="./js/register.js"></script> 
